{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_catquiz
    Template which defines a catquiz summary.
    Classes required for JS:
    * none
    Data attributes required for JS:
    * none
    Context variables required for this template:
    Example context (json):
    {
        "questionsdisplay": {
            "notable": false,
            "modaltable": "<p>Your modal content here</p>",
            "table": "<table><tr><td>Table content</td></tr></table>"
        }
    }
}}

{{#questionsdisplay}}
    {{>local_catquiz/catscalemanager/scaleandcontextselector}}
    <div>
        {{^notable}}
            {{! A Moodle core modal (issue #30); the table is moved into it when the dialog first opens. }}
            <div id="local-catquiz-addtestitems-{{uniqid}}">
                <button type="button" class="btn btn-primary" data-action="local_catquiz-addtestitems"
                        data-title="{{#str}}addtestitemtitle, local_catquiz{{/str}}">{{#str}}addtestitemtitle, local_catquiz{{/str}}</button>
                <div class="d-none" data-region="local_catquiz-addtestitems-content">{{{modaltable}}}</div>
            </div>
            {{#js}}
                require(['local_catquiz/addtestitems_modal'], function(modal) {
                    modal.init('local-catquiz-addtestitems-{{uniqid}}');
                });
            {{/js}}
        {{/notable}}
        {{^notable}}
            <form method="get" class="d-flex flex-wrap align-items-center my-2" id="catquiz-questiontext-search">
                {{#hiddenparams}}
                    <input type="hidden" name="{{name}}" value="{{value}}">
                {{/hiddenparams}}
                <label class="me-2" for="catquiz-qtsearch">{{#str}}questiontextsearch, local_catquiz{{/str}}</label>
                <input type="text" class="form-control w-auto me-2" id="catquiz-qtsearch" name="qtsearch"
                       value="{{qtsearch}}">
                <button type="submit" class="btn btn-secondary">{{#str}}search, core{{/str}}</button>
            </form>
            {{#qtsearchtoomany}}
                <div class="alert alert-warning">{{#str}}questiontextsearch_toomany, local_catquiz{{/str}}</div>
            {{/qtsearchtoomany}}
        {{/notable}}
        {{#table}}
            <div>
                {{{table}}}
            </div>
        {{/table}}
        <div id="testitemdashboard">
            {{>local_catquiz/catscalemanager/questions/testitemdashboard}}
        </div>
    </div>
{{/questionsdisplay}}
